.add-tip
  position fixed
  top 0
  right 27px
  width 262px
  height 46px
  z-index 20
  background url('https://n1image.hjfile.cn/res7/2018/12/29/692fe03eb793907b04858d7cb3e4e547.png') no-repeat
  background-size 262px 46px
  opacity 0

  &-txt
    position relative
    top 18px
    left 53px
    color #ffffff
    font-size 13px
    line-height 18px

.fadeIn
  animation fadeIn .3s ease forwards
