.self
  overflow hidden
  min-height 100%
  background-color #f7f8fa
.header-bg
  position relative
  width 100%
  height 0
  padding-top 13.526%
  image
    position absolute
    top 0
    left 0
    width 100%
    height 100%
.info
  position relative
  display flex
  justify-content space-between
  align-items center
  padding 0 18px
  margin-bottom 10px
  height 100px
  box-shadow 0 5px 8px 0 rgba(0, 0, 0, 0.02)
  background-color rgb(255, 255, 255)
  .open-info,.unlogin-info
    display flex
    align-items center
  .avatar
    display inline-block
    width 50px
    height 50px
    border-radius 50%
    overflow hidden
    image
      width 100%
      height 100%
  .name_phone
    margin-left 15px
  .switch-account
    position absolute
    right 18px
    bottom 30px
    display inline-block
  .switch-icon
    display inline-block
    height 16px
    width 16px
  .switch-txt
    padding-left 3px
    vertical-align 4px
    display inline-block
    color #95A1AF
    font-size 12px
  .name
    font-size 18px
    font-weight 500
    color #2f3742
    &.unlogin
      padding-left 5px
  .username
    padding-top 5px
    color #95A1AF
    font-size 12px
  .mobile
    padding-top 2px
    color: rgba(149, 161, 175, 1)
    font-size: 12px
  .feedback
    image
      width 18px
      height 18px 
.section
  display flex
  align-items center
  position relative
  padding-left 30px
  height 60px
  line-height 60px
  box-shadow 0 5px 8px 0 rgba(0, 0, 0, 0.02)
  background-color rgb(255, 255, 255)
  color #2f3742
  font-weight 400
  font-size 15px
  &.line
    border-top 1px solid #ecedf2
  &::after
    position absolute
    right 18px
    top 25px
    content ''
    display block
    width 11px
    height 11px
    background url('https://n1image.hjfile.cn/res7/2018/10/31/f26810da3c841d6d7242864e317e1015.png') no-repeat
    background-size 11px
  .icon
    width 24px
    height 24px
    background url('https://n1image.hjfile.cn/res7/2019/02/18/5a3bcc4f53d06c0f8cf869f89818608d.png') no-repeat
    background-size 24px
    margin-right 28px
    &.set-icon
      background url('https://n1image.hjfile.cn/res7/2019/02/18/d1c573eca5659b7a95b38610a0f98b14.png') no-repeat
      background-size 24px
    &.feedback-icon
      background url('https://n1image.hjfile.cn/res7/2019/04/26/2580b1a43c812491d11e1147e9736c19.png') no-repeat
      background-size 24px

.feedback-btn
  position absolute
  width 100%
  height 100%

.login-box
  display flex
  flex-direction column
  align-items center
  padding 60px 0 0

.version
  margin 22px auto
  color #95A1AF
  font-size 12px
  text-align center
